//common.scss
//모든 컴포넌트에 공통적으로 적용

//input
//s: height 40px;
//01: width 400px;

//Button

@import '~antd/dist/antd.css';

#ShowSpinning {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
