//common.scss
//모든 컴포넌트에 공통적으로 적용

//input
//s: height 40px;
//01: width 400px;
.input_basic {
  border: 1px solid black;
  width: 400px;
  height: 40px;
  border-radius: 0;
}

//Button
.btn_basic {
}
