#NavComp {
  position: absolute;
  //height: 100%;
  background-color: lightgreen;
  overflow-y: hidden;
  padding: 30px 50px 30px 50px;
  .photo {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    background-color: white;
    //border: 1px solid black;
    border-radius: 100%;
  }
  .name {
    //border: 1px solid black;
    text-align: center;
    margin-top: 10px;
    font-size: 1.2em;
  }
  .job {
    //border: 1px solid black;
    text-align: center;
    color: gray;
    font-size: 0.7em;
  }
  .menuItem {
    margin-top: 50px;
    margin-bottom: 50px;
    //border: 1px solid black;
    text-align: center;
    color: black;
  }
}
