.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
}

.profile-div {
  color: white;
  //background-color: lightgray;
  height: 250px;
  padding-top: 30px;
}

.toggleArrow {
  //border: 1px solid red;
  width: 50px;
}

#MyProfile {
  .userPhotoDiv {
    margin: 0 auto 20px auto;
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 100%;
  }
  .userNameDiv {
    color: black;
    text-align: center;
    font-weight: 500;
  }
  .userPositionDiv {
    color: black;
    text-align: center;
    font-weight: 100;
    font-size: 0.8em;
  }
}
