#UserLoginComp {
  position: absolute;
  width: 500px;
  height: 550px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 8px 8px 8px 8px lightgray;
  h1 {
    text-align: center;
    //border: 1px solid black;
    margin-top: 100px;
  }
  input[type='text'] {
    margin-top: 50px;
    //margin-bottom: 20px;
  }
  input[type='password'] {
    //margin-bottom: 30px;
  }
  input {
    //position: absolute;
    //left: 50%;
    //transform: translateX(-50%);
    border: none;
    border-bottom: 1px solid black;
    width: 60%;
    height: 40px;
    font-size: 1em;
    display: block;
    margin: 0 auto 0 auto;
    padding-left: 10px;
    text-align: center;
    //border: 1px solid black;
  }
  input:focus {
    outline: none;
  }
  button {
    //position: absolute;
    display: block;
    width: 180px;
    height: 40px;
    // /background: none;
    border: 1px solid black;
    border-radius: 30px;
    margin: 0 auto 15px auto;
  }

  button:focus {
    outline: none;
  }
  p {
    //border: 1px solid black;
    text-align: center;
    display: block;
    margin: 0 auto 0 auto;
    font-size: 0.9em;
    color: gray;
  }
  .notice {
    //border: 1px solid black;
    height: 16px;
    //border: 1px solid black;
    width: 60%;
    margin: 2px auto 2px auto;
    font-size: 0.7em;
    text-align: center;
    color: red;
  }
  .notice.password {
    //border: 1px solid black;
    margin-bottom: 30px;
  }
}
